@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --pink:#e84393;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    overflow-x: hidden;
    box-sizing: border-box;
}
body {
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
section{
    padding:2rem 9%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.5rem 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
}
.btn:hover{
    background:var(--pink);
}
.sec-title {
    font-size: 2.5rem;
    text-align: center;
    background-color: #fde8f2;
    margin: 30px 0 50px;
}
h3 {
    font-size: 24px;
}



header {
    padding:0 9%;
    position: fixed;
    top:0; left:0; right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    background-color: #fff;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
    & a {
        color: #000;
    }
    & nav {
        & a {
            margin-right: 40px;
            font-size: 20px;
            font-weight: bold;
            color:#666;
            &:hover {
                color: var(--pink);
            }
        }
    }
    & ul {
        display: flex;
        padding: 0;
        & a {
            font-size: 24px;
            color:#333;
            &:hover {
                color: var(--pink);
            }
            &:nth-child(2){
                margin-left: 25px;
            }
        }
    }
}

#home {
    background: url(images/home-bg.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
    & .home-text {
        max-width: 36rem;
        & h1 {
            font-size: 4rem;
        }
        & h2 {
            color: var(--pink);
        }
    }
}

#about {
    & .about-flex {
        display: flex;
        justify-content: space-between;
        & img {
            width: 48%;
            border-radius: .5rem;
        }
        & .about-content {
            width: 48%;
            margin-top: 4%;
        }
    }
}

.icons-container {
    background-color: #ececec;
     ul {
         display: flex;
         justify-content: space-evenly;
         padding: 0;
         & li {
             background-color: #fff;
             width: 200px;
             padding: 20px;
             text-align: center;
         }
     }
}

#flowers {
    & .box-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
   & .box {
        border: 1px solid rgb(230, 229, 229);
        box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
        width: 21%;
        margin: 20px 0;
        text-align: center;
        position: relative;
        overflow: hidden;
        &:hover {
            & img {
                transform: scale(1.15);
            }
        }
        & .add-cart {
            background-color: #ececec;
            position: absolute;
            z-index: 100;
            top: 5px;
            right: 5px;
            padding: 7px;
            border-radius: 15%;
            font-size: 18px;
            &:hover a {
                color: var(--pink);
            }
            & a {
                color: #000;
            }
        }
        & img {
            max-width: 60%;
            margin-top: 10px;
            transition: all 0.3s;
           
        }
        & span {
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: rgb(253, 235, 255);
            padding: 5px 8px;
            border-radius: 15%;
            color: var(--pink);
            z-index: 100;
        }
        & .box-text {
            & .price {
                color: var(--pink);
            }
        }
        
   }
}

#review {
    & .review-container {
        display: flex;
        justify-content: space-around;
        & .review-box {
            width: 31%;
            margin: 10px;
            border: 1px solid rgb(230, 229, 229);
            box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
            padding: 30px 15px;
            
            & .person {
                display: flex;
            }
        
        }
    }
}

#contact {
   & .contact-flex {
       display: flex;
       justify-content: space-between ;
       & form {
           width: 46%;
           padding:1.5rem 2rem;
           border: 1px solid rgb(230, 229, 229);
           box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
           border-radius: .5rem;
           text-align: center;
           & .box {
               width: 95%;
               padding:0.5rem;
               color:#333;
               text-transform: none;
               border:2px solid rgba(0,0,0,0.1);
               border-radius: .5rem;
               outline: none;
               margin:.5rem 0;
               &:focus {
                   border-color:  var(--pink);
               }
           }
       }
       & .contact-image {
        width: 46%;
        & img {
            max-width: 100%;
            border-radius: .5rem;
        }
       }
   }
}

.footer {
    
    text-align: center;
    & p {
        border-top: 1px solid #ececec;
        padding-top: 30px;
    }
}



@media (max-width:1200px){
    .icons-container {
        & ul {
            flex-wrap: wrap;
            justify-content: space-between;
            & li {
                width: 45%;
                &:nth-child(-n+2) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    #flowers {
       & .box {
            width: 48%;
            }
    }

    #review {
        & .review-container {
            flex-wrap: wrap;
            & .review-box {
                width: 100%;
            }
        }
    }

    #contact {
        & .contact-flex {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            align-items: center;
            & form {
                width: 70%;
            }
            & .contact-image {
                display: none;
            }
        }   
    }
}

@media (max-width:1000px){
    header {
        padding:0 2%;
        & nav {
            & a {
                margin-right: 20px;
                font-size: 16px;
            }
        }
        & ul {
            & a {
                font-size: 20px;
            }
        }
    }
    #about {
        & .about-flex {
            flex-direction: column;
            & img {
                width: 100%;
                margin: 0 auto;
            }
            & .about-content {
                width: 100%;
            }
        }
    }

    .icons-container {
        & ul {
            flex-wrap: wrap;
            justify-content: space-between;
            & li {
                width: 100%;
                &:nth-child(-n+3) {
                    margin-bottom: 20px;
                }
            }
        }
    }
 
}

@media (max-width:600px){
    .btn{
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
    }
    header {
        padding: 0 2% 3%;
        & nav {
            position: absolute;
            bottom: 4%;
        }
        & ul {
            display: none;
        }
    }
    #flowers {
        & .box {
             width: 100%;
             }
     }
     #contact {
        & .contact-flex {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            align-items: center;
            & form {
                width: 80%;
            } 
        }  
    }
    .sec-title {
        font-size: 2rem;
    }
}

@media (max-width:350px) {
    header {
        & nav {
            a {
                font-size: 15px;
                margin-right: 15px;
            }
        }
    }
}